@charset "UTF-8";
/* libre-baskerville-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/libre-baskerville-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* libre-baskerville-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/libre-baskerville-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don’t have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}
.btn {
  background-color: transparent;
  border: none;
  color: var(--grey-400);
  cursor: pointer;
  font-size: clamp(0.5625rem, 0.3836rem + 0.7634vw, 0.75rem);
  font-weight: 700;
  letter-spacing: clamp(2px, 1.5229px + 0.1272vw, 2.5px);
  line-height: 1.25;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  color: var(--text-dark);
}

.btn--underline {
  text-decoration: underline;
}

.btn--disabled {
  opacity: 0.15;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --grey-400: hsl(0, 0%, 49%);
  --grey-200: hsl(0, 0%, 85%);
  --grey-150: hsl(0, 0%, 90%);
  --grey-100: hsl(0, 0%, 95%);
  --gradient-bg: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.84) 100%
  );
  --color-primary: #109218;
  --color-secondary: #c4e023;
  --color-accent: hsl(240, 100%, 50%);
  --color-accent-light: hsl(240, 100%, 65%);
  --color-text-light: var(--white);
  --color-text-dark: var(--black);
  --color-bg-dark: var(--black);
  --color-bg-light: var(--white);
  --container-max-width: 85rem;
  --container-margin: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  --container-margin-slideshow: clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);
  --spacing-0: 0;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1200: 6rem;
}

body {
  line-height: 1.6em;
  font-family: "Libre Baskerville", sans-serif;
  background-color: var(--color-bg-light);
}

.container {
  margin: 0 var(--container-margin);
  max-width: var(--container-max-width);
}

header {
  background-color: var(--color-bg-light);
  border-bottom: 1px solid var(--grey-150);
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem) 0;
}
header .logo {
  max-width: 30%;
}
header .logo svg {
  max-width: 100%;
}

.gallery {
  margin: var(--spacing-400) 0;
}
.gallery__grid {
  margin: 0 auto;
}
.gallery__item {
  position: relative;
  margin-bottom: var(--spacing-500);
}
.gallery .item__details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--spacing-400);
  color: var(--color-text-light);
}
.gallery .item__title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.25;
  margin-bottom: var(--spacing-100);
}
.gallery .item__artist {
  font-size: clamp(0.5625rem, 0.324rem + 1.0178vw, 0.8125rem);
  font-weight: 400;
  letter-spacing: clamp(0px, 3.9084px - 0.5089vw, 2px);
  line-height: 1.25;
  opacity: 0.75;
}

.painting-details {
  margin: var(--spacing-400) 0;
}
.painting-details .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 var(--container-margin-slideshow);
}
.painting-details .item__image {
  z-index: 1;
  position: relative;
}
.painting-details .item__title {
  background-color: var(--white);
  padding: clamp(var(--spacing-300), -0.8855rem + 10.1781vw, var(--spacing-800));
  padding-bottom: 0;
  position: relative;
  margin-top: calc(-1 * var(--spacing-700));
  min-width: 17.625rem;
  z-index: 10;
}
.painting-details .item__name {
  font-size: clamp(1.5rem, -0.4702rem + 2.5685vw, 3.5rem);
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.15;
  margin-bottom: var(--spacing-100);
}
.painting-details .item__artist-name {
  font-size: clamp(0.625rem, 0.3571rem + 0.3494vw, 0.9375rem);
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.35;
  color: var(--grey-400);
  font-size: 0.9375rem;
  margin-bottom: var(--spacing-300);
}
.painting-details .item__artist-image {
  max-height: 4rem;
  margin-left: calc(-1 * var(--spacing-100));
}
.painting-details .item__details {
  margin-top: calc(-1 * var(--spacing-200));
  margin-bottom: var(--spacing-1000);
  z-index: 20;
}
.painting-details .item__year {
  font-size: clamp(6.25rem, -1.4732rem + 10.0595vw, 12.5rem);
  font-weight: 700;
  letter-spacing: clamp(-0.2px, 0.0952px - 0.0298vw, 0px);
  line-height: 1.15;
  color: var(--grey-100);
  line-height: 1;
  text-align: right;
}
.painting-details .item__description {
  color: var(--grey-400);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: -0.25px;
  line-height: 2;
  margin-top: calc(-1 * var(--spacing-400));
  margin-bottom: var(--spacing-800);
}

.slideshow-footer {
  border-top: 1px solid var(--grey-150);
  padding: clamp(var(--spacing-200), 0.5229rem + 2.0356vw, var(--spacing-300)) clamp(var(--spacing-300), 0.5458rem + 4.0712vw, var(--spacing-500));
}
.slideshow-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slideshow-footer .item__name {
  font-size: clamp(0.875rem, 0.6878rem + 0.244vw, 1.125rem);
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.25;
  margin-bottom: var(--spacing-100);
}
.slideshow-footer .item__artist {
  font-size: clamp(0.625rem, 0.3571rem + 0.3494vw, 0.9375rem);
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.35;
  opacity: 0.75;
}
.slideshow-footer__buttons {
  display: flex;
  gap: clamp(var(--spacing-300), 0.5458rem + 4.0712vw, var(--spacing-500));
}

@media (min-width: 64rem) {
  .container {
    margin: 0 auto;
  }
  header {
    border: none;
  }
  header .navbar {
    border-bottom: 1px solid var(--grey-150);
  }
}