{% extends "layouts/base.html" %}
{% block content %}
  <section class="gallery">
    <div class="container">
      <div
        class="gallery__grid"
        data-masonry='{ "itemSelector": ".gallery__item", "columnWidth": 310, "gutter": 40, "transitionDuration": 0, "fitWidth": true }'
      >
        {% for painting in paintings %}
          <div class="gallery__item">
            <img
              class="item__image"
              src="{{ painting.images.thumbnail }}"
              alt="{{ painting.name }} by {{ painting.artist.name }}"
            />
            <div class="item__details">
              <h2 class="item__title">{{ painting.name }}</h2>
              <p class="item__artist">{{ painting.artist.name }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
