{% extends "layouts/base.html" %}
{% block content %}
  <section class="painting-details">
    <div class="container">
      <picture>
        <!-- Large (768px and up) -->
        <source
          media="(min-width: 768px)"
          srcset="../.{{ painting.images.hero.large }}"
        />

        <!-- Small (up to 767px) -->
        <source
          media="(max-width: 767px)"
          srcset="../.{{ painting.images.hero.small }}"
        />

        <!-- Fallback image -->
        <img
          class="item__image"
          src="../.{{ painting.images.hero.small }}"
          alt="{{ painting.name }} by {{ painting.artist.name }}"
        />
      </picture>
      <div class="item__title">
        <h2 class="item__name">{{ painting.name }}</h2>
        <p class="item__artist-name">{{ painting.artist.name }}</p>
        <img
          class="item__artist-image"
          src="../.{{ painting.artist.image }}"
          alt="{{ painting.artist.name }}"
        />
      </div>
      <div class="item__details">
        <p class="item__year">{{ painting.year }}</p>
        <p class="item__description">{{ painting.description }}</p>
        <a
          href="{{ painting.source }}"
          class="btn"
        >
          Go to Source
        </a>
      </div>
    </div>
  </section>
  {% include "partials/slideshow-footer.html" %}
{% endblock %}
