---
pagination:
  data: paintings
  size: 1
  alias: painting
permalink: "paintings/{{ painting.slug }}/"
eleventyComputed: 
    title: "{{ painting.name }}"
    paintingIndex: "{{ pagination.pageNumber }}"
layout: "layouts/painting-details.html"
---

{{ painting.name }} is {{ painting.description }}