.btn {
  background-color: transparent;
  border: none;
  color: var(--grey-400);
  cursor: pointer;
  font-size: clamp(0.5625rem, 0.3836rem + 0.7634vw, 0.75rem);
  font-weight: 700;
  letter-spacing: clamp(2px, 1.5229px + 0.1272vw, 2.5px);
  line-height: 1.25;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: var(--text-dark);
  }
}

.btn--underline {
  text-decoration: underline;
}
