@use "fonts";
@use "reset";
@use "components";
@use "mixins";
@use "sass:map";

:root {
  // COLORS
  --white: #ffffff;
  --black: #000000;

  --grey-400: hsl(0, 0%, 49%);
  --grey-200: hsl(0, 0%, 85%);
  --grey-150: hsl(0, 0%, 90%);
  --grey-100: hsl(0, 0%, 95%);

  --gradient-bg: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.84) 100%
  );

  --color-primary: #109218;
  --color-secondary: #c4e023;

  --color-accent: hsl(240, 100%, 50%);
  --color-accent-light: hsl(240, 100%, 65%);

  --color-text-light: var(--white);
  --color-text-dark: var(--black);

  --color-bg-dark: var(--black);
  --color-bg-light: var(--white);

  // CONTAINER
  --container-max-width: 85rem;
  --container-margin: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  --container-margin-slideshow: clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);

  // SPACING
  --spacing-0: 0;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1200: 6rem;
}

body {
  line-height: 1.6em;
  font-family: "Libre Baskerville", sans-serif;

  background-color: var(--color-bg-light);
}

.container {
  margin: 0 var(--container-margin);
  max-width: var(--container-max-width);
}

header {
  background-color: var(--color-bg-light);
  border-bottom: 1px solid var(--grey-150);
  position: sticky;
  top: 0;
  z-index: 1000;
  .navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem) 0;
  }

  .logo {
    max-width: 30%;

    svg {
      max-width: 100%;
    }
  }
}

.gallery {
  margin: var(--spacing-400) 0;

  &__grid {
    margin: 0 auto;
  }

  &__item {
    margin-bottom: var(--spacing-500);
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    transform: scale(1);
    transform-origin: center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--black);
      opacity: 0.25;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .item {
    &__details {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: var(--spacing-400);
      color: var(--color-text-light);
      z-index: 2;
    }

    &__title {
      @include mixins.text-preset-2-mobile;
      margin-bottom: var(--spacing-100);
    }

    &__artist {
      @include mixins.text-preset-5;
      opacity: 0.75;
    }
  }
}

.painting-details {
  margin: clamp(var(--spacing-300), -0.0845rem + 6.7606vw, var(--spacing-1000))
    0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 var(--container-margin-slideshow);
  }

  .item {
    &__image {
      z-index: 1;
      position: relative;
    }

    &__title {
      margin-top: calc(-1 * var(--spacing-700));
      min-width: 17.625rem;
      padding-bottom: 0;
      position: relative;
      z-index: 10;
    }

    &__title-text {
      background-color: var(--white);
      padding: clamp(
        var(--spacing-300),
        -0.8855rem + 10.1781vw,
        var(--spacing-800)
      );
    }

    &__name {
      @include mixins.text-preset-2;
      margin-bottom: clamp(
        var(--spacing-100),
        -0.4542rem + 4.0712vw,
        var(--spacing-300)
      );
    }

    &__artist-name {
      @include mixins.text-preset-4;
      color: var(--grey-400);
      font-size: 0.9375rem;
      margin-bottom: var(--spacing-300);
    }

    &__artist-image {
      margin-left: var(--spacing-200);
      max-height: 4rem;
    }

    &__details {
      margin-bottom: var(--spacing-1000);
      margin-top: calc(-1 * var(--spacing-200));
      z-index: 20;
    }

    &__year {
      @include mixins.text-preset-1;
      color: var(--grey-100);
      line-height: 1;
      text-align: right;
    }

    &__description {
      color: var(--grey-400);
      font-size: 0.875rem;
      font-weight: 700;
      letter-spacing: -0.25px;
      line-height: 2;
      margin-bottom: var(--spacing-800);
      margin-top: calc(-1 * var(--spacing-400));
    }
  }
}

.slideshow-footer {
  border-top: 1px solid var(--grey-150);
  padding: clamp(var(--spacing-200), 0.5229rem + 2.0356vw, var(--spacing-300)) 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    height: 1px;
    width: 10%;
    background-color: var(--black);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item {
    &__name {
      @include mixins.text-preset-3;
      margin-bottom: var(--spacing-100);
    }

    &__artist {
      @include mixins.text-preset-4;
      opacity: 0.75;
    }
  }

  &__buttons {
    display: flex;
    gap: clamp(var(--spacing-300), 0.5458rem + 4.0712vw, var(--spacing-500));
  }
}

@media (min-width: 769px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
  .painting-details {
    .container {
      margin: 0 auto;
    }
  }
}

@media (min-width: 80rem) {
  header {
    border: none;
    .navbar {
      border-bottom: 1px solid var(--grey-150);
    }
  }
  .painting-details {
    .container {
      flex-direction: row;
      margin: 0 auto;
    }

    .item {
      &__image {
        max-width: 29.6875rem;
      }

      &__title {
        margin-left: -4.5rem;
        margin-top: 0;
        min-height: 39rem;
        min-width: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }

      &__details {
        max-width: 29.6875rem;
      }

      &__artist-image {
        max-height: 8rem;
        margin-left: var(--spacing-1200);
      }

      &__description {
        max-width: 21.875rem;
      }
    }
  }
}
