<header>
  <div class="container">
    <div class="navbar">
      <a
        href="{{ '/' | url }}"
        class="logo"
        aria-label="{{ site.name }} - home"
      >
        {% include "svgs/logo.svg" %}
      </a>
      {% if title === "Home" %}
        <a
          class="btn"
          href="{{ './paintings/starry-night/' | url }}"
        >
          Start Slideshow
        </a>
      {% else %}
        <a
          class="btn"
          href="{{ '/' | url }}"
        >
          Stop Slideshow
        </a>
      {% endif %}
    </div>
  </div>
</header>
