<section class="slideshow-footer">
  {% set progressWidth = (paintingIndex / paintings.length) * 100 %}
  <div
    class="slideshow-footer__progress-bar"
    {% if progressWidth %}style="width: {{ progressWidth }}%;"{% endif %}
  ></div>
  <div class="container">
    <div class="item__title">
      <h3 class="item__name">{{ painting.name }}</h3>
      <p class="item__artist">{{ painting.artist.name }}</p>
    </div>
    <div class="slideshow-footer__buttons">
      {% if pagination.href.previous %}
        <a
          href="{{ pagination.href.previous | url }}"
          class="previous btn"
        >
          {% include "svgs/icon-back-button.svg" %}
        </a>
      {% else %}
        <button
          class="previous btn btn--disabled"
          disabled
        >
          {% include "svgs/icon-back-button.svg" %}
        </button>
      {% endif %}

      {% if pagination.href.next %}
        <a
          href="{{ pagination.href.next | url }}"
          class="next btn"
        >
          {% include "svgs/icon-next-button.svg" %}
        </a>
      {% else %}
        <button
          class="next btn btn--disabled"
          disabled
        >
          {% include "svgs/icon-next-button.svg" %}
        </button>
      {% endif %}
    </div>
  </div>
</section>
