<section class="slideshow-footer">
  <div class="container">
    <div class="item__title">
      <h3 class="item__name">{{ painting.name }}</h3>
      <p class="item__artist">{{ painting.artist.name }}</p>
    </div>
    <div class="slideshow-footer__buttons">
      <button class="previous btn btn--disabled">
        {% include "svgs/icon-back-button.svg" %}
      </button>
      <button class="next btn">
        {% include "svgs/icon-next-button.svg" %}
      </button>
    </div>
  </div>
</section>
